<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
    
</head>
<body>
    <%- include('partials/navigation') %> 
        <main class="container vh-100 pt-2 text-center d-flex justifiy-content-center align-items-center ">
        <section>
            <h1 class="display-1 d-flex justify-content-center ">MISION</h1>
            <p class="d-flex justifiy-content-center ">Nuestra mision es participar en la vida cotidiana de las personas y atravez de una taza de cafe,transformar una region,un vecindario;haciendo que las personas sean mas felices y mas unidas. </p>
            <h1 class="display-1 d-flex justify-content-center ">VISION</h1>
            <p class="d-flex justifiy-content-center ">Proporcionar seguridad alimentaria saludable y deliciosa a todos los que cruzan nuestras puertas o viitan nuestra pagina web.Daremos la bienvenida y serviremos a nuestros clientes de manera respetuosa y digna;independientemente de su calidad de pago.</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>