<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %> 
    <main class="container vh-90 pt-2 text-center d-flex justifiy-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Portafolio</h1>
            <p class="d-flex justifiy-content-center">por decadas el cafe a sido y sera una de las bebidas mas satisfactoria para el ser humano. por eso en nuestro portafolio nos enfocamos end ar la mejor calidad,servicio y sobre todo un campo de armoniosidad,para no solo disfrutar de un delicioso cafe en cualquiera de sus presentaciones; si no en brindar un sitio agradable para compartir .
                </p>
                <a href="#" class="project-link">
                    <div class="project">
                        <img src="https://www.tucafetera.net/wp-content/uploads/2020/01/destacado-home.webp" alt="Proyecto 1">
                        <p class="caption">UNA TAZA DE CAFE PARA EL CUIDADO DEL CORAZON</p>
                    </div>
                </a>
            
                <a href="#" class="project-link">
                    <div class="project">
                        <img src="https://static.wixstatic.com/media/2794d8_cf74a1bda50141368964b38769a803d9~mv2.jpg/v1/fit/w_951%2Ch_790%2Cal_c%2Cq_80,enc_auto/file.jpg" alt="Proyecto 2">
                        <p class="caption">Diseño e innovacion</p>
                    </div>
                </a>
                <a href="#" class="project-link">
                    <div class="project">
                        <img src="https://costa-verde.com/wp-content/uploads/2019/08/57_cafe.jpg" alt="Proyecto 3">
                        <p class="caption">Nos preocupamos por los detalles</p>
                    </div>  
                </a>
            <p class="d-flex justifiy-content-center">“para disfrutar de la vida ,no es necesario tener suficiente dinero;solo sentarte  y tomar una taza del mejor cafe ¡Sunset coffee!”</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>