<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
    
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justifiy-content-center align-items-center">
        <section class="chat-container">
            <div class="message left">
                <h1 class="display-1">Sunset coffee</h1>
                <p>Inspirar y nutrir el espiritu humano;una persona,una taza de cafe y una comodidad a la vez.</p>
            </div>
            <div class="message right">
                <h1 class="display-1">Café de especialidad</h1>
                <p>producto de calidad, servicio familiar y un fuerte compromiso por el bienestar de la cadena de valor.</p>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>