<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justifiy-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Nuestros servicios</h1>
            <ul class="services-list">
               <li class="services-list">Personal conocedor y buen servicio al cliente</li>
               <li class="services-list">Buena ubicacion</li>
               <li class="services-list">Exelente menu de bebidas y snacks
            </li>
               <li class="services-list">Barra express</li>
               <li class="services-list">Cappuccino</li>
               <li class="services-list">Latte
            </li>
               <li class="services-list">Otras bebidas</li>
               <li class="services-list">Bebidas frias</li>
            </ul>
            <p class="d-flex justifiy-content-center">Entre los muchos lujos de la mesa, el café puede ser considerado como uno de los más valiosos. Él atisba la alegría sin intoxicación y el placentero flujo de espíritus que ocasiona nunca es seguido de tristeza, languidez o debilidad. (Benjamín Franklin).</p>
    </section>
    </main>
    <%- include('partials/footer') %>
</body>       
</html>